<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('components/navbar'); %>
    <%- include('components/header'); %>
    <%- include('components/product'); %>
    <section id="savoir-faire" style="height: 1000px;">
        <p>Savoir Faire</p>
    </section>
    <section id="contact" style="height: 1000px;">
        <p>Savoir Faire</p>
    </section>
</div>
<script src="/js/main.js"></script>
</body>
</html>
