.btn {
    height: 50px;
    width: auto;
    min-width: 190px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: $white;
    color: $black;
    padding: 0px 10px;
    box-sizing: border-box;
    font-family: $font-primary;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4.8px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    &.white {
        background-color: $white;
        color: $orange;
        transition: background-color 180ms ease-in-out, color 180ms ease-in-out;
        &:hover {
            background-color: $orange;
            color: $white;
        }
    }
    &.orange {
        background-color: $orange;
        color: $white;
        transition: transform 180ms ease-in-out;
        transform: scale(1);
        &:hover {
            transform: scale(1.2);
        }
    }
}